.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff6db;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 180px;
  max-width: 810px;
}

.info {
  width: 100%;
  display: flex;
  border-top: 1px solid #727878;
}
