.titles {
    text-align: center;
    width: 100%;
    min-height: 40px;
    border-bottom: 1px solid #727878;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .title {
    text-align: center;
    width: 100%;
    min-height: 40px;
    line-height: 80px;
    font-size: 54px;
    font-family: "Courier New", Courier, monospace;
    color: #22a39f;
    margin-top: 40px;
  }

  .subtitle {
    text-align: center;
    min-width: 20%;
    min-height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-family: "Courier New", Courier, monospace;
    color: #727878;
    margin-bottom: 30px;
  }