.experiences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3efe0;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 180px;
  max-width: 810px;
}

.info {
  width: 100%;
  display: flex;
  border-top: 0px;

  .educations {
    border-top: 1px solid #727878;
  }

  .careers {
    border-top: 1px solid #727878;
  }
}
